# Configuración y análisis inicial

In [1]:
##Importar las librerías requeridas para el análisis
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
##Definir tamaño máximo de filas a mostrar
pd.set_option('display.max_rows', 100)

In [3]:
##Importar el dataset del CSV
df = pd.read_csv('../data/accidentes.csv')

In [4]:
##Visualizar los primeros datos
df.head()

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,ATLÁNTICO,BARRANQUILLA (CT),8001000,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ATLÁNTICO,LURUACO,8421000,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAQUETÁ,PUERTO RICO,18592000,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,CASANARE,AGUAZUL,85010000,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [5]:
## Ver el tamaño del dataset
df.shape

(59810, 9)

In [6]:
## Ver los tipos de datos de las columnas
df.dtypes

DEPARTAMENTO            object
MUNICIPIO               object
CODIGO DANE              int64
ARMAS MEDIOS            object
FECHA HECHO             object
GENERO                  object
GRUPO ETARÍO            object
DESCRIPCIÓN CONDUCTA    object
CANTIDAD                 int64
dtype: object

In [7]:
## Calcular la longitud máxima de cada campo
measurer = np.vectorize(len)
res1 = measurer(df.values.astype(str)).max(axis=0)
res1

array([18, 27,  8, 19, 10, 12, 12, 63,  2])

In [8]:
df.describe()

        CODIGO DANE      CANTIDAD
count  5.981000e+04  59810.000000
mean   3.847246e+07      1.098111
std    2.740403e+07      0.371723
min    5.001000e+06      1.000000
25%    1.300100e+07      1.000000
50%    2.575400e+07      1.000000
75%    6.808100e+07      1.000000
max    9.977300e+07     10.000000

In [9]:
# Buscar valores nulos por cada campo
df.isnull().sum()

DEPARTAMENTO            0
MUNICIPIO               0
CODIGO DANE             0
ARMAS MEDIOS            0
FECHA HECHO             0
GENERO                  0
GRUPO ETARÍO            0
DESCRIPCIÓN CONDUCTA    0
CANTIDAD                0
dtype: int64

In [10]:
## Encontrar valores duplicados
df[df.duplicated(keep=False)]

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
40885,CAUCA,ROSAS,19622000,NO REPORTADO,18/12/2018,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
40893,CAUCA,ROSAS,19622000,NO REPORTADO,18/12/2018,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
41740,META,VILLAVICENCIO (CT),50001000,NO REPORTADO,10/02/2019,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
41754,META,VILLAVICENCIO (CT),50001000,NO REPORTADO,10/02/2019,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
42792,ANTIOQUIA,TURBO,5837000,NO REPORTADO,28/04/2019,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
42807,ANTIOQUIA,TURBO,5837000,NO REPORTADO,28/04/2019,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
45895,BOLÍVAR,CARTAGENA (CT),13001000,NO REPORTADO,15/11/2019,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
45903,BOLÍVAR,CARTAGENA (CT),13001000,NO REPORTADO,15/11/2019,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
48606,CAUCA,POPAYÁN (CT),19001000,NO REPORTADO,19/06/2020,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
48614,CAUCA,POPAYÁN (CT),19001000,NO REPORTADO,19/06/2020,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [11]:
## Eliminar filas duplicadas
df=df.drop_duplicates()

In [12]:
## Ver el tamaño del dataset
df.shape

(59805, 9)

# Análisis por campos

## Departamento

In [13]:
#Guardar los departamentos sin repeticiones y visualizar para validar errores de escritura
departamentos=df['DEPARTAMENTO'].unique()
departamentos

array(['ANTIOQUIA', 'ATLÁNTICO', 'CAQUETÁ', 'CASANARE', 'CESAR',
       'GUAJIRA', 'HUILA', 'NARIÑO', 'RISARALDA', 'SANTANDER', 'CÓRDOBA',
       'CUNDINAMARCA', 'TOLIMA', 'VALLE', 'MAGDALENA', 'BOYACÁ', 'CAUCA',
       'NORTE DE SANTANDER', 'SUCRE', 'META', 'QUINDÍO', 'BOLÍVAR',
       'CALDAS', 'ARAUCA', 'PUTUMAYO', 'SAN ANDRÉS', 'GUAVIARE',
       'AMAZONAS', 'VICHADA', 'CHOCÓ', 'GUAINÍA', 'VAUPÉS'], dtype=object)

In [14]:
#Validar que la cantidad de departamentos sea correcta con la realidad - OK
len(departamentos)

32

## Municipio

In [15]:
#Guardar los municipios sin repeticiones y visualizar para validar errores de escritura
municipios=df['MUNICIPIO'].unique()
municipios.sort()
municipios

array(['ABEJORRAL', 'ABREGO', 'ABRIAQUÍ', 'ACACÍAS', 'ACANDÍ', 'ACEVEDO',
       'ACHÍ', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS',
       'AGUAZUL', 'AGUSTÍN CODAZZI', 'AIPE', 'ALBANIA', 'ALBÁN', 'ALCALÁ',
       'ALDANA', 'ALEJANDRÍA', 'ALGARROBO', 'ALGECIRAS', 'ALMAGUER',
       'ALMEIDA', 'ALPUJARRA', 'ALTAMIRA', 'ALTO BAUDÓ',
       'ALTOS DEL ROSARIO', 'ALVARADO', 'AMAGÁ', 'AMALFI', 'AMBALEMA',
       'ANAPOIMA', 'ANCUYÁ', 'ANDALUCÍA', 'ANDES', 'ANGELÓPOLIS',
       'ANGOSTURA', 'ANOLAIMA', 'ANORÍ', 'ANSERMA', 'ANSERMANUEVO',
       'ANZA', 'ANZOÁTEGUI', 'APARTADÓ', 'APULO', 'APÍA', 'AQUITANIA',
       'ARACATACA', 'ARANZAZU', 'ARATOCA', 'ARAUCA (CT)', 'ARAUQUITA',
       'ARBELÁEZ', 'ARBOLEDA', 'ARBOLEDAS', 'ARBOLETES', 'ARCABUCO',
       'ARENAL', 'ARGELIA', 'ARIGUANÍ', 'ARJONA', 'ARMENIA (CT)',
       'ARMERO', 'ARROYOHONDO', 'ASTREA', 'ATACO', 'ATRATO', 'AYAPEL',
       'BAGADÓ', 'BAJO BAUDÓ', 'BALBOA', 'BARANOA', 'BARAYA', 'BARBACOAS',
       'BARBOSA', 'BARICHARA', 'BARRANCA DE UPÍA', 'BARRANCABERMEJA',
       'BARRANCAS', 'BARRANCO DE LOBA', 'BARRANQUILLA (CT)', 'BECERRIL',
       'BELALCÁZAR', 'BELLO', 'BELMIRA', 'BELTRÁN', 'BELÉN',
       'BELÉN DE LOS ANDAQUIES', 'BELÉN DE UMBRÍA', 'BERBEO', 'BETANIA',
       'BETULIA', 'BITUIMA', 'BOAVITA', 'BOCHALEMA', 'BOGOTÁ D.C. (CT)',
       'BOJACÁ', 'BOJAYÁ', 'BOLÍVAR', 'BOSCONIA', 'BOYACÁ', 'BRICEÑO',
       'BUCARAMANGA (CT)', 'BUCARASICA', 'BUENAVENTURA', 'BUENAVISTA',
       'BUENOS AIRES', 'BUESACO', 'BUGALAGRANDE', 'BURITICÁ', 'CABRERA',
       'CABUYARO', 'CACHIPAY', 'CACHIRÁ', 'CAICEDO', 'CAICEDONIA',
       'CAIMITO', 'CAJAMARCA', 'CAJIBÍO', 'CAJICÁ', 'CALAMAR', 'CALARCA',
       'CALDAS', 'CALDONO', 'CALI (CT)', 'CALIFORNIA', 'CALIMA', 'CALOTO',
       'CAMPAMENTO', 'CAMPO DE LA CRUZ', 'CAMPOALEGRE', 'CAMPOHERMOSO',
       'CANALETE', 'CANDELARIA', 'CANTAGALLO', 'CAPARRAPÍ', 'CAPITANEJO',
       'CAQUEZA', 'CARAMANTA', 'CAREPA', 'CARMEN DE APICALÁ',
       'CARMEN DE CARUPA', 'CARMEN DEL DARIEN', 'CAROLINA',
       'CARTAGENA (CT)', 'CARTAGENA DEL CHAIRÁ', 'CARTAGO', 'CASABIANCA',
       'CASTILLA LA NUEVA', 'CAUCASIA', 'CAÑASGORDAS', 'CEPITÁ', 'CERETÉ',
       'CERINZA', 'CERRITO', 'CHACHAGÜÍ', 'CHAGUANÍ', 'CHALÁN', 'CHAMEZA',
       'CHAPARRAL', 'CHARALÁ', 'CHARTA', 'CHIBOLO', 'CHIGORODÓ',
       'CHIMICHAGUA', 'CHIMÁ', 'CHINAVITA', 'CHINCHINÁ', 'CHINÁCOTA',
       'CHINÚ', 'CHIPAQUE', 'CHIPATÁ', 'CHIQUINQUIRÁ', 'CHIRIGUANÁ',
       'CHISCAS', 'CHITA', 'CHITAGÁ', 'CHITARAQUE', 'CHIVATÁ', 'CHIVOR',
       'CHOACHÍ', 'CHOCONTÁ', 'CHÍA', 'CHÍQUIZA', 'CICUCO', 'CIMITARRA',
       'CIRCASIA', 'CISNEROS', 'CIUDAD BOLÍVAR', 'CIÉNAGA',
       'CIÉNAGA DE ORO', 'CIÉNEGA', 'CLEMENCIA', 'COCORNÁ', 'COELLO',
       'COGUA', 'COLOMBIA', 'COLOSO', 'COLÓN', 'CONCEPCIÓN', 'CONCORDIA',
       'CONDOTO', 'CONFINES', 'CONSACA', 'CONTADERO', 'CONVENCIÓN',
       'COPACABANA', 'COPER', 'CORINTO', 'COROMORO', 'COROZAL',
       'CORRALES', 'COTA', 'COTORRA', 'COVARACHÍA', 'COVEÑAS', 'COYAIMA',
       'CRAVO NORTE', 'CUASPUD', 'CUBARRAL', 'CUBARÁ', 'CUCAITA',
       'CUCUNUBÁ', 'CUMARAL', 'CUMARIBO', 'CUMBAL', 'CUMBITARA', 'CUNDAY',
       'CURILLO', 'CURITÍ', 'CURUMANÍ', 'CUÍTIVA', 'CÁCERES', 'CÁCOTA',
       'CÉRTEGUI', 'CÓMBITA', 'CÓRDOBA', 'CÚCUTA (CT)', 'DABEIBA',
       'DAGUA', 'DIBULLA', 'DISTRACCIÓN', 'DOLORES', 'DON MATÍAS',
       'DOSQUEBRADAS', 'DUITAMA', 'DURANIA', 'EBÉJICO', 'EL BAGRE',
       'EL BANCO', 'EL CAIRO', 'EL CARMEN', 'EL CARMEN DE ATRATO',
       'EL CARMEN DE BOLÍVAR', 'EL CARMEN DE CHUCURÍ',
       'EL CARMEN DE VIBORAL', 'EL CASTILLO', 'EL CERRITO', 'EL CHARCO',
       'EL COCUY', 'EL COLEGIO', 'EL COPEY', 'EL DONCELLO', 'EL DORADO',
       'EL DOVIO', 'EL ESPINO', 'EL GUAMO', 'EL MOLINO', 'EL PASO',
       'EL PAUJIL', 'EL PEÑOL', 'EL PEÑÓN', 'EL PIÑON', 'EL PLAYÓN',
       'EL RETORNO', 'EL RETÉN', 'EL ROBLE', 'EL ROSAL', 'EL ROSARIO',
       'EL SANTUARIO', 'EL TABLÓN DE GÓMEZ', 'EL TAMBO', 'EL TARRA',
       'EL ZULIA', 'EL ÁGUILA', 'ELÍAS', 'ENCINO', 'ENCISO', 'ENTRERRIOS',
       'ENVIGADO', 'ESPINAL', 'FACATATIVÁ', 'FALAN', 'FILADELFIA',
       'FILANDIA', 'FIRAVITOBA', 'FLANDES', 'FLORENCIA', 'FLORENCIA (CT)',
       'FLORESTA', 'FLORIDA', 'FLORIDABLANCA', 'FLORIÁN', 'FOMEQUE',
       'FONSECA', 'FORTUL', 'FOSCA', 'FREDONIA', 'FRESNO', 'FRONTINO',
       'FUENTE DE ORO', 'FUNDACIÓN', 'FUNES', 'FUNZA', 'FUSAGASUGÁ',
       'FÚQUENE', 'GACHANCIPÁ', 'GACHANTIVÁ', 'GACHETÁ', 'GALAPA',
       'GALERAS', 'GALÁN', 'GAMARRA', 'GAMBITA', 'GAMEZA', 'GARAGOA',
       'GARZÓN', 'GIGANTE', 'GINEBRA', 'GIRALDO', 'GIRARDOT', 'GIRARDOTA',
       'GIRÓN', 'GRAMALOTE', 'GRANADA', 'GUACA', 'GUACAMAYAS', 'GUACARÍ',
       'GUACHENÉ', 'GUACHETÁ', 'GUACHUCAL', 'GUADALAJARA DE BUGA',
       'GUADALUPE', 'GUADUAS', 'GUAITARILLA', 'GUALMATÁN', 'GUAMAL',
       'GUAMO', 'GUAPI', 'GUARANDA', 'GUARNE', 'GUASCA', 'GUATAPÉ',
       'GUATAQUÍ', 'GUATAVITA', 'GUATEQUE', 'GUAVATÁ',
       'GUAYABAL DE SIQUIMA', 'GUAYABETAL', 'GUAYATÁ', 'GUTIÉRREZ',
       'GUÁTICA', 'GÉNOVA', 'GÓMEZ PLATA', 'GÜEPSA', 'GÜICÁN', 'HACARÍ',
       'HATILLO DE LOBA', 'HATO COROZAL', 'HATONUEVO', 'HELICONIA',
       'HERVEO', 'HISPANIA', 'HOBO', 'HONDA', 'IBAGUÉ (CT)', 'ICONONZO',
       'ILES', 'IMUÉS', 'INZÁ', 'INÍRIDA (CT)', 'IPIALES', 'IQUIRA',
       'ISNOS', 'ISTMINA', 'ITAGUI', 'ITUANGO', 'IZA', 'JAMBALÓ',
       'JAMUNDÍ', 'JARDÍN', 'JENESANO', 'JERICÓ', 'JERUSALÉN',
       'JESÚS MARÍA', 'JORDÁN', 'JUAN DE ACOSTA', 'JUNÍN', 'LA APARTADA',
       'LA ARGENTINA', 'LA BELLEZA', 'LA CALERA', 'LA CAPILLA', 'LA CEJA',
       'LA CELIA', 'LA CRUZ', 'LA CUMBRE', 'LA DORADA', 'LA ESPERANZA',
       'LA ESTRELLA', 'LA FLORIDA', 'LA GLORIA', 'LA JAGUA DE IBIRICO',
       'LA JAGUA DEL PILAR', 'LA LLANADA', 'LA MACARENA', 'LA MERCED',
       'LA MESA', 'LA MONTAÑITA', 'LA PALMA', 'LA PAZ', 'LA PEÑA',
       'LA PINTADA', 'LA PLATA', 'LA PLAYA', 'LA PRIMAVERA', 'LA SIERRA',
       'LA TEBAIDA', 'LA UNIÓN', 'LA UVITA', 'LA VEGA', 'LA VICTORIA',
       'LA VIRGINIA', 'LABATECA', 'LABRANZAGRANDE', 'LANDÁZURI',
       'LEBRIJA', 'LEIVA', 'LEJANÍAS', 'LENGUAZAQUE', 'LETICIA (CT)',
       'LIBORINA', 'LINARES', 'LLORÓ', 'LORICA', 'LOS ANDES',
       'LOS CÓRDOBAS', 'LOS PALMITOS', 'LOS PATIOS', 'LOS SANTOS',
       'LOURDES', 'LURUACO', 'LÉRIDA', 'LÍBANO', 'MACANAL', 'MACARAVITA',
       'MACEO', 'MACHETA', 'MADRID', 'MAGANGUÉ', 'MAHATES', 'MAICAO',
       'MAJAGUAL', 'MALAMBO', 'MALLAMA', 'MANATÍ', 'MANAURE',
       'MANIZALES (CT)', 'MANZANARES', 'MANÍ', 'MAPIRIPÁN', 'MARGARITA',
       'MARINILLA', 'MARIPÍ', 'MARIQUITA', 'MARMATO', 'MARQUETALIA',
       'MARSELLA', 'MARULANDA', 'MARÍA LA BAJA', 'MATANZA',
       'MEDELLÍN (CT)', 'MEDINA', 'MEDIO BAUDÓ', 'MEDIO SAN JUAN',
       'MELGAR', 'MERCADERES', 'MESETAS', 'MILÁN', 'MIRAFLORES',
       'MIRANDA', 'MISTRATÓ', 'MITÚ (CT)', 'MOCOA (CT)', 'MOGOTES',
       'MOLAGAVITA', 'MOMIL', 'MOMPÓS', 'MONGUA', 'MONGUÍ', 'MONIQUIRÁ',
       'MONTEBELLO', 'MONTECRISTO', 'MONTELÍBANO', 'MONTENEGRO',
       'MONTERREY', 'MONTERÍA (CT)', 'MORALES', 'MORELIA', 'MORROA',
       'MOSQUERA', 'MOTAVITA', 'MOÑITOS', 'MUTATÁ', 'MUTISCUA', 'MUZO',
       'MÁLAGA', 'NARIÑO', 'NATAGAIMA', 'NECHÍ', 'NECOCLÍ', 'NEIRA',
       'NEIVA (CT)', 'NEMOCÓN', 'NILO', 'NIMAIMA', 'NOBSA', 'NOCAIMA',
       'NORCASIA', 'NOROSÍ', 'NUEVA GRANADA', 'NUEVO COLÓN', 'NUNCHÍA',
       'NÁTAGA', 'NÓVITA', 'OBANDO', 'OCAMONTE', 'OCAÑA', 'OIBA',
       'OICATÁ', 'ONZAGA', 'OPORAPA', 'ORITO', 'OROCUÉ', 'ORTEGA',
       'OSPINA', 'OTANCHE', 'OVEJAS', 'PACHAVITA', 'PACHO', 'PADILLA',
       'PAEZ', 'PAICOL', 'PAILITAS', 'PAIME', 'PAIPA', 'PAJARITO',
       'PALERMO', 'PALESTINA', 'PALMAR DE VARELA', 'PALMAS DEL SOCORRO',
       'PALMIRA', 'PALMITO', 'PALOCABILDO', 'PAMPLONA', 'PAMPLONITA',
       'PANDI', 'PANQUEBA', 'PARATEBUENO', 'PASCA', 'PASTO (CT)', 'PATÍA',
       'PAUNA', 'PAZ DE ARIPORO', 'PAZ DE RÍO', 'PEDRAZA', 'PELAYA',
       'PENSILVANIA', 'PEQUE', 'PEREIRA (CT)', 'PESCA', 'PEÑOL',
       'PIAMONTE', 'PIEDECUESTA', 'PIEDRAS', 'PIENDAMÓ', 'PIJAO',
       'PIJIÑO DEL CARMEN', 'PINCHOTE', 'PINILLOS', 'PIOJÓ', 'PITAL',
       'PITALITO', 'PIVIJAY', 'PLANADAS', 'PLANETA RICA', 'PLATO',
       'POLICARPA', 'POLONUEVO', 'PONEDERA', 'POPAYÁN (CT)', 'PORE',
       'POTOSÍ', 'PRADERA', 'PRADO', 'PROVIDENCIA', 'PUEBLO BELLO',
       'PUEBLO NUEVO', 'PUEBLO RICO', 'PUEBLORRICO', 'PUEBLOVIEJO',
       'PUENTE NACIONAL', 'PUERRES', 'PUERTO ASÍS', 'PUERTO BERRÍO',
       'PUERTO BOYACÁ', 'PUERTO CAICEDO', 'PUERTO CARREÑO (CT)',
       'PUERTO COLOMBIA', 'PUERTO CONCORDIA', 'PUERTO ESCONDIDO',
       'PUERTO GAITÁN', 'PUERTO GUZMÁN', 'PUERTO LEGUÍZAMO',
       'PUERTO LIBERTADOR', 'PUERTO LLERAS', 'PUERTO LÓPEZ',
       'PUERTO NARE', 'PUERTO PARRA', 'PUERTO RICO', 'PUERTO RONDÓN',
       'PUERTO SALGAR', 'PUERTO SANTANDER', 'PUERTO TEJADA',
       'PUERTO TRIUNFO', 'PUERTO WILCHES', 'PULÍ', 'PUPIALES', 'PURACÉ',
       'PURIFICACIÓN', 'PURÍSIMA', 'PÁCORA', 'PÁEZ', 'PÁRAMO',
       'QUEBRADANEGRA', 'QUETAME', 'QUIBDÓ (CT)', 'QUIMBAYA', 'QUINCHÍA',
       'QUIPILE', 'QUÍPAMA', 'RAGONVALIA', 'RAMIRIQUÍ', 'RECETOR',
       'REGIDOR', 'REMEDIOS', 'REMOLINO', 'REPELÓN', 'RESTREPO', 'RETIRO',
       'RICAURTE', 'RIOBLANCO', 'RIOFRÍO', 'RIOHACHA (CT)', 'RIONEGRO',
       'RIOSUCIO', 'RISARALDA', 'RIVERA', 'ROLDANILLO', 'RONCESVALLES',
       'RONDÓN', 'ROSAS', 'ROVIRA', 'RÁQUIRA', 'RÍO DE ORO', 'RÍO VIEJO',
       'SABANA DE TORRES', 'SABANAGRANDE', 'SABANALARGA',
       'SABANAS DE SAN ANGEL', 'SABANETA', 'SABOYÁ', 'SAHAGÚN',
       'SALADOBLANCO', 'SALAMINA', 'SALAZAR', 'SALDAÑA', 'SALENTO',
       'SALGAR', 'SAMACÁ', 'SAMANIEGO', 'SAMANÁ', 'SAMPUÉS',
       'SAN AGUSTÍN', 'SAN ALBERTO', 'SAN ANDRES DE TUMACO', 'SAN ANDRÉS',
       'SAN ANDRÉS (CT)', 'SAN ANDRÉS DE CUERQUÍA',
       'SAN ANDRÉS SOTAVENTO', 'SAN ANTERO', 'SAN ANTONIO',
       'SAN ANTONIO DEL TEQUENDAMA', 'SAN BENITO', 'SAN BENITO ABAD',
       'SAN BERNARDO', 'SAN BERNARDO DEL VIENTO', 'SAN CALIXTO',
       'SAN CARLOS', 'SAN CARLOS DE GUAROA', 'SAN CAYETANO', 'SAN DIEGO',
       'SAN EDUARDO', 'SAN ESTANISLAO', 'SAN FERNANDO', 'SAN FRANCISCO',
       'SAN GIL', 'SAN JACINTO', 'SAN JACINTO DEL CAUCA', 'SAN JERÓNIMO',
       'SAN JOAQUÍN', 'SAN JOSÉ', 'SAN JOSÉ DE LA MONTAÑA',
       'SAN JOSÉ DE MIRANDA', 'SAN JOSÉ DE PARE', 'SAN JOSÉ DE URÉ',
       'SAN JOSÉ DEL FRAGUA', 'SAN JOSÉ DEL GUAVIARE (CT)',
       'SAN JOSÉ DEL PALMAR', 'SAN JUAN DE ARAMA', 'SAN JUAN DE BETULIA',
       'SAN JUAN DE RÍO SECO', 'SAN JUAN DE URABÁ', 'SAN JUAN DEL CESAR',
       'SAN JUAN NEPOMUCENO', 'SAN JUANITO', 'SAN LORENZO', 'SAN LUIS',
       'SAN LUIS DE GACENO', 'SAN LUIS DE PALENQUE', 'SAN LUIS DE SINCÉ',
       'SAN MARCOS', 'SAN MARTÍN', 'SAN MARTÍN DE LOBA', 'SAN MATEO',
       'SAN MIGUEL', 'SAN MIGUEL DE SEMA', 'SAN ONOFRE', 'SAN PABLO',
       'SAN PABLO DE BORBUR', 'SAN PEDRO', 'SAN PEDRO DE CARTAGO',
       'SAN PEDRO DE URABÁ', 'SAN PELAYO', 'SAN RAFAEL', 'SAN ROQUE',
       'SAN SEBASTIÁN', 'SAN SEBASTIÁN DE BUENAVISTA', 'SAN VICENTE',
       'SAN VICENTE DE CHUCURÍ', 'SAN VICENTE DEL CAGUÁN', 'SANDONÁ',
       'SANTA ANA', 'SANTA BÁRBARA', 'SANTA BÁRBARA DE PINTO',
       'SANTA CATALINA', 'SANTA ISABEL', 'SANTA LUCÍA',
       'SANTA MARTA (CT)', 'SANTA MARÍA', 'SANTA ROSA',
       'SANTA ROSA DE CABAL', 'SANTA ROSA DE OSOS',
       'SANTA ROSA DE VITERBO', 'SANTA ROSA DEL SUR', 'SANTA ROSALÍA',
       'SANTA SOFÍA', 'SANTACRUZ', 'SANTAFÉ DE ANTIOQUIA', 'SANTANA',
       'SANTANDER DE QUILICHAO', 'SANTIAGO', 'SANTIAGO DE TOLÚ',
       'SANTO DOMINGO', 'SANTO TOMÁS', 'SANTUARIO', 'SAPUYES', 'SARAVENA',
       'SARDINATA', 'SASAIMA', 'SATIVANORTE', 'SATIVASUR', 'SEGOVIA',
       'SESQUILÉ', 'SEVILLA', 'SIACHOQUE', 'SIBATÉ', 'SIBUNDOY', 'SILOS',
       'SILVANIA', 'SILVIA', 'SIMACOTA', 'SIMIJACA', 'SIMITÍ',
       'SINCELEJO (CT)', 'SITIONUEVO', 'SOACHA', 'SOATÁ', 'SOCHA',
       'SOCORRO', 'SOCOTÁ', 'SOGAMOSO', 'SOLEDAD', 'SOLITA', 'SONSON',
       'SOPETRÁN', 'SOPLAVIENTO', 'SOPÓ', 'SORA', 'SORACÁ', 'SOTAQUIRÁ',
       'SOTARA', 'SUAITA', 'SUAN', 'SUAZA', 'SUBACHOQUE', 'SUCRE',
       'SUESCA', 'SUPATÁ', 'SUPÍA', 'SURATÁ', 'SUSA', 'SUSACÓN',
       'SUTAMARCHÁN', 'SUTATAUSA', 'SUTATENZA', 'SUÁREZ', 'SÁCHICA',
       'TABIO', 'TADÓ', 'TALAIGUA NUEVO', 'TAMALAMEQUE', 'TAME',
       'TAMINANGO', 'TANGUA', 'TARAZÁ', 'TARQUI', 'TARSO', 'TASCO',
       'TAURAMENA', 'TAUSA', 'TELLO', 'TENA', 'TENERIFE', 'TENJO',
       'TENZA', 'TEORAMA', 'TERUEL', 'TESALIA', 'TIBACUY', 'TIBANÁ',
       'TIBASOSA', 'TIBIRITA', 'TIBÚ', 'TIERRALTA', 'TIMANÁ', 'TIMBÍO',
       'TINJACÁ', 'TIPACOQUE', 'TIQUISIO', 'TITIRIBÍ', 'TOCA', 'TOCAIMA',
       'TOCANCIPÁ', 'TOGÜÍ', 'TOLEDO', 'TOLÚ VIEJO', 'TONA', 'TORIBIO',
       'TORO', 'TOTA', 'TOTORÓ', 'TRINIDAD', 'TRUJILLO', 'TUBARÁ',
       'TUCHÍN', 'TULUÁ', 'TUNJA (CT)', 'TURBACO', 'TURBANÁ', 'TURBO',
       'TURMEQUÉ', 'TUTA', 'TUTAZÁ', 'TÁMARA', 'TÁMESIS', 'TÓPAGA',
       'TÚQUERRES', 'UBALÁ', 'UBAQUE', 'ULLOA', 'UMBITA', 'UNE', 'UNGUÍA',
       'UNIÓN PANAMERICANA', 'URAMITA', 'URIBE', 'URIBIA', 'URRAO',
       'URUMITA', 'USIACURÍ', 'VALDIVIA', 'VALENCIA', 'VALLE DE SAN JOSÉ',
       'VALLE DE SAN JUAN', 'VALLE DEL GUAMUEZ', 'VALLEDUPAR (CT)',
       'VALPARAÍSO', 'VEGACHÍ', 'VENADILLO', 'VENECIA', 'VENTAQUEMADA',
       'VERGARA', 'VERSALLES', 'VETAS', 'VIANÍ', 'VICTORIA',
       'VIGÍA DEL FUERTE', 'VIJES', 'VILLA CARO', 'VILLA DE LEYVA',
       'VILLA DE SAN DIEGO DE UBATE', 'VILLA DEL ROSARIO', 'VILLA RICA',
       'VILLAGARZÓN', 'VILLAGÓMEZ', 'VILLAHERMOSA', 'VILLAMARÍA',
       'VILLANUEVA', 'VILLAPINZÓN', 'VILLARRICA', 'VILLAVICENCIO (CT)',
       'VILLAVIEJA', 'VILLETA', 'VIOTÁ', 'VIRACACHÁ', 'VISTAHERMOSA',
       'VITERBO', 'VÉLEZ', 'YACOPÍ', 'YACUANQUER', 'YAGUARÁ', 'YALÍ',
       'YARUMAL', 'YOLOMBÓ', 'YONDÓ', 'YOPAL (CT)', 'YOTOCO', 'YUMBO',
       'ZAMBRANO', 'ZAPATOCA', 'ZAPAYÁN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACÓN', 'ZIPAQUIRÁ', 'ZONA BANANERA', 'ÚTICA'],
      dtype=object)

## Código DANE

In [16]:
#Guardar los municipios sin repeticiones y visualizar para validar consistencia de datos
codigo_dane=df['CODIGO DANE'].unique()
codigo_dane

array([ 5376000,  8001000,  8421000, ..., 68682000, 27025000, 25368000],
      dtype=int64)

In [17]:
## Crear función para reemplazar los ceros al final
def replace_zeros(codigo):
    codigo=str(codigo)
    codigo=codigo[:-3]
    return codigo
## Aplicar la función para eliminar los ceros y reemplzar el valor en el campo    
df['CODIGO DANE']=df['CODIGO DANE'].apply(replace_zeros)

codigo_dane=df['CODIGO DANE'].unique()
codigo_dane

array(['5376', '8001', '8421', ..., '68682', '27025', '25368'],
      dtype=object)

## Género

In [18]:
#Guardar los generos sin repeticiones y visualizar para validar consistencia de datos
genero=df['GENERO'].unique()
genero

array(['MASCULINO', 'FEMENINO', 'NO REPORTA', 'NO REPORTADO'],
      dtype=object)

In [19]:
## Reemplazar el valor escrito de diferente manera para unificar
df['GENERO']=df['GENERO'].replace({'NO REPORTADO': 'NO REPORTA'})
genero=df['GENERO'].unique()
genero

array(['MASCULINO', 'FEMENINO', 'NO REPORTA'], dtype=object)

## Grupo etario

In [20]:
#Guardar los grupos etaríos sin repeticiones y visualizar para validar consistencia de datos
grupo_etario=df['GRUPO ETARÍO'].unique()
grupo_etario

array(['ADULTOS', 'ADOLESCENTES', 'MENORES', 'NO REPORTADO'], dtype=object)

## Armas / Medios

In [21]:
#Guardar los grupos etaríos sin repeticiones y visualizar para validar consistencia de datos
armas_medios=df['ARMAS MEDIOS'].unique()
armas_medios

array(['MOTO', 'VEHICULO', 'NO REPORTADO', 'BICICLETA',
       'SIN EMPLEO DE ARMAS', 'TREN', 'CONTUNDENTES'], dtype=object)

## Fecha

In [22]:
## Obtener las fechas y tratar de convertir para detectar errores de fecha
fecha=df['FECHA HECHO']
pd.to_datetime(fecha,format='%d/%m/%Y')

0       2010-01-01
1       2010-01-01
2       2010-01-01
3       2010-01-01
4       2010-01-01
           ...
59805   2022-04-16
59806   2022-02-20
59807   2022-02-20
59808   2022-04-16
59809   2022-04-16
Name: FECHA HECHO, Length: 59805, dtype: datetime64[ns]

## Descripción

In [23]:
df['DESCRIPCIÓN CONDUCTA'].unique()

array(['ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO)',
       'ARTÍCULO 110. HOMICIDIO CULPOSO ( CIRCUNSTANCIAS DE AGRAVACIÓN)'],
      dtype=object)

# Guardar archivo nuevo

In [25]:
df.to_csv('../data/accidentesV2.csv', index=False)