In [9]:
##Importar las librerías requeridas para el análisis
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [10]:
##Definir tamaño máximo de filas a mostrar
pd.set_option('display.max_rows', 100)

In [11]:
##Importar el dataset del CSV
df = pd.read_csv('./data/accidentes.csv')

In [12]:
##Visualizar los primeros datos
df.head()

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,ATLÁNTICO,BARRANQUILLA (CT),8001000,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ATLÁNTICO,LURUACO,8421000,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAQUETÁ,PUERTO RICO,18592000,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,CASANARE,AGUAZUL,85010000,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [14]:
## Ver el tamaño del dataset
df.shape

(59810, 9)

In [15]:
## Ver los tipos de datos de las columnas
df.dtypes

DEPARTAMENTO            object
MUNICIPIO               object
CODIGO DANE              int64
ARMAS MEDIOS            object
FECHA HECHO             object
GENERO                  object
GRUPO ETARÍO            object
DESCRIPCIÓN CONDUCTA    object
CANTIDAD                 int64
dtype: object

In [21]:
## Calcular la longitud máxima de cada campo
measurer = np.vectorize(len)
res1 = measurer(df.values.astype(str)).max(axis=0)
res1

array([18, 27,  8, 19, 10, 12, 12, 63,  2])

In [23]:
df.describe()

        CODIGO DANE      CANTIDAD
count  5.981000e+04  59810.000000
mean   3.847246e+07      1.098111
std    2.740403e+07      0.371723
min    5.001000e+06      1.000000
25%    1.300100e+07      1.000000
50%    2.575400e+07      1.000000
75%    6.808100e+07      1.000000
max    9.977300e+07     10.000000

# Análisis por campos

In [34]:
# Buscar valores nulos por cada campo
df.isnull().sum()

DEPARTAMENTO            0
MUNICIPIO               0
CODIGO DANE             0
ARMAS MEDIOS            0
FECHA HECHO             0
GENERO                  0
GRUPO ETARÍO            0
DESCRIPCIÓN CONDUCTA    0
CANTIDAD                0
dtype: int64

In [ ]:
## Encontrar valores duplicados
df[df.duplicated(keep=False)]

In [98]:
## Eliminar filas duplicadas
df=df.drop_duplicates()

In [99]:
## Validar la nueva cantidad de filas
df.describe()

        CODIGO DANE      CANTIDAD
count  5.980500e+04  59805.000000
mean   3.847388e+07      1.098119
std    2.740438e+07      0.371737
min    5.001000e+06      1.000000
25%    1.300100e+07      1.000000
50%    2.575400e+07      1.000000
75%    6.808100e+07      1.000000
max    9.977300e+07     10.000000

## Departamento

In [37]:
#Guardar los departamentos sin repeticiones y visualizar para validar errores de escritura
departamentos=df['DEPARTAMENTO'].unique()
departamentos

array(['ANTIOQUIA', 'ATLÁNTICO', 'CAQUETÁ', 'CASANARE', 'CESAR',
       'GUAJIRA', 'HUILA', 'NARIÑO', 'RISARALDA', 'SANTANDER', 'CÓRDOBA',
       'CUNDINAMARCA', 'TOLIMA', 'VALLE', 'MAGDALENA', 'BOYACÁ', 'CAUCA',
       'NORTE DE SANTANDER', 'SUCRE', 'META', 'QUINDÍO', 'BOLÍVAR',
       'CALDAS', 'ARAUCA', 'PUTUMAYO', 'SAN ANDRÉS', 'GUAVIARE',
       'AMAZONAS', 'VICHADA', 'CHOCÓ', 'GUAINÍA', 'VAUPÉS'], dtype=object)

In [38]:
#Validar que la cantidad de departamentos sea correcta con la realidad - OK
len(departamentos)

32

## Municipio

In [ ]:
#Guardar los municipios sin repeticiones y visualizar para validar errores de escritura
municipios=df['MUNICIPIO'].unique()
municipios.sort()
municipios

## Código DANE

In [54]:
#Guardar los municipios sin repeticiones y visualizar para validar consistencia de datos
codigo_dane=df['CODIGO DANE'].unique()
codigo_dane

array([ 5376000,  8001000,  8421000, ..., 68682000, 27025000, 25368000],
      dtype=int64)

In [59]:
## Crear función para reemplazar los ceros al final
def replace_zeros(codigo):
    codigo=str(codigo)
    codigo=codigo[:-3]
    return codigo
## Aplicar la función para eliminar los ceros y reemplzar el valor en el campo    
df['CODIGO DANE']=df['CODIGO DANE'].apply(replace_zeros)

codigo_dane=df['CODIGO DANE'].unique()
codigo_dane

array(['5376', '8001', '8421', ..., '68682', '27025', '25368'],
      dtype=object)

## Género

In [60]:
#Guardar los generos sin repeticiones y visualizar para validar consistencia de datos
genero=df['GENERO'].unique()
genero

array(['MASCULINO', 'FEMENINO', 'NO REPORTA', 'NO REPORTADO'],
      dtype=object)

In [61]:
## Reemplazar el valor escrito de diferente manera para unificar
df['GENERO']=df['GENERO'].replace({'NO REPORTADO': 'NO REPORTA'})
genero=df['GENERO'].unique()
genero

array(['MASCULINO', 'FEMENINO', 'NO REPORTA'], dtype=object)

## Grupo etario

In [63]:
#Guardar los grupos etaríos sin repeticiones y visualizar para validar consistencia de datos
grupo_etario=df['GRUPO ETARÍO'].unique()
grupo_etario

array(['ADULTOS', 'ADOLESCENTES', 'MENORES', 'NO REPORTADO'], dtype=object)

## Armas / Medios

In [65]:
#Guardar los grupos etaríos sin repeticiones y visualizar para validar consistencia de datos
armas_medios=df['ARMAS MEDIOS'].unique()
armas_medios

array(['MOTO', 'VEHICULO', 'NO REPORTADO', 'BICICLETA',
       'SIN EMPLEO DE ARMAS', 'TREN', 'CONTUNDENTES'], dtype=object)

## Fecha

In [79]:
## Obtener las fechas y tratar de convertir para detectar errores de fecha
fecha=df['FECHA HECHO']
pd.to_datetime(fecha,format='%d/%m/%Y')

0       2010-01-01
1       2010-01-01
2       2010-01-01
3       2010-01-01
4       2010-01-01
           ...
59805   2022-04-16
59806   2022-02-20
59807   2022-02-20
59808   2022-04-16
59809   2022-04-16
Name: FECHA HECHO, Length: 59810, dtype: datetime64[ns]

In [100]:
df['DESCRIPCIÓN CONDUCTA']

0        ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
1        ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
2        ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
3        ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
4        ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
                               ...
59805    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
59806    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
59807    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
59808    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
59809    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
Name: DESCRIPCIÓN CONDUCTA, Length: 59805, dtype: object